
<div class="row aitem">
  <div class="col-md-2">
    <a href="#">
      <img class="media-object" src="https://i.kinja-img.com/gawker-media/image/upload/s--u9f8-0yY--/c_scale,f_auto,fl_progressive,q_80,w_800/c9lzmv4d3mgzpnyntz7s.jpg" alt="...">
    </a>
  </div>
  <div class="col-md-10">
      <div class="col-md-8">
          <h4 class="media-heading">Game of Thrones</h4>
          Rs.500 <br>
          Description about the movie goes here...
      </div>
     <div class="col-md-4">
       <button class="btn btn-danger">Add</button>
     </div>
  </div>
  <hr>
</div>


<div class="row aitem">
  <div class="col-md-2 col-sm-2">
    <a href="#">
      <img class="media-object" src="https://i.kinja-img.com/gawker-media/image/upload/s--u9f8-0yY--/c_scale,f_auto,fl_progressive,q_80,w_800/c9lzmv4d3mgzpnyntz7s.jpg" alt="...">
    </a>
  </div>
  <div class="col-md-10 col-sm-10">
      <div class="col-md-8 col-sm-8">
          <h4 class="media-heading" value="GOT" #item>Game of Thrones</h4>
          Rs.500 <br>
          Description about the movie goes here...
      </div>
     <div class="col-md-4 col-sm-4">
       <button class="btn btn-danger" (onclick)="Addtolist(item.value)">Add</button>
     </div>
  </div>
  <hr>
</div>




