<div class="panel panel-primary panel-add-item">
    <div class="panel-heading">
      <h3 class="panel-title">Stock</h3>
    </div>
    <div class="panel-body">
      <form class="form-horizontal">
          
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                </span>
              </div>
         
              <div class="row">
                <div class="col-md-4">
                  <img src="https://i.kinja-img.com/gawker-media/image/upload/s--u9f8-0yY--/c_scale,f_auto,fl_progressive,q_80,w_800/c9lzmv4d3mgzpnyntz7s.jpg" alt="">
                </div>
                <div class="col-md-8">
                  Descripton
                  <p>Stock</p>
                </div>
              </div>
              
              <div class="form-group">
                  <label for="stock" class="col-sm-2 control-label">Stock</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="stock" placeholder="Stock">
                  </div>
                  <div class="col-sm-2">
                      <button type="submit" class="btn btn-danger">Add to stock</button>
                    </div>
              </div>

            
         
        
        
            </form>
            
          </div>
       
      
    </div>
